# Ignore compiled native library copies in the windows folder and runner outputs
*.pdb

# Ignore runner build artifacts (Debug/Release folders)
runner/Debug/
runner/Release/

# Flutter build artifacts (safe to ignore)
flutter/ephemeral/

# Visual Studio user-specific files.
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio build-related files.
x64/
x86/

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/
